.info {
    width: 340px;
    height: 310px;
    margin-top: 20px;
    margin-left: 5px;
}

.location {
    width: 340px;
    height: 180px;
    position: relative;
}
.info-text {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    width: 340px;
    height: 130px;
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}
.info-text p {
    margin-left: 20px;
}
.info-title {
    color: #9BA4B0;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    margin-top: 13px;
}
.info-detail {
    color: #454D66;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0;
}
.bio {
    height: 210px;
    width: 340px;
    border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
    margin-top: 5px;
}
.bio-title {
    color: #9BA4B0;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;
    padding-top: 20px;
    margin-left: 20px;
}
.bio-body {
    color: #454D66;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 20px;
    width: 304px;
}
