@import "../../scss/_ui";

.navbar {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -5px 25px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  @include mobile {
    .navbar-item {
      padding-left: 8px;
      padding-right: 8px;
    }
    .navbar-search {
      input {
        display: none;
      }
      img {
        position: static;
      }
    }
  }
}
.navbar-section-left,
.navbar-section-right {
  display: flex;
  align-items: center;
}

.navbar-item {
  padding: 4px 16px;
  margin: 0 6px;
}

.navbar-profile-pic {
  width: 40px;
  height: 40px;
}

.navbar-search {
  position: relative;
  img {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 16px;
    // background-color: rgba(0,0,0,0.1);
    z-index: 4;
    top: 12px;
  }
  input {
    background: none;
    border: none;
    // background-color: rgba(0,0,0,0.1);
    font-size: 14px;
    line-height: 1.8;
    width: 300px;
    padding: 6px 0 6px 42px;
    margin: 0;
    border-bottom: 1px transparent solid;
  }
  input:focus {
    border: none;
    outline: none;
    border-bottom: 1px #ddd solid;
  }
}

.navbar-menu {
  //  display: none;
}

.navbar-logo {
  // display: none;
  padding-left: 0;
  padding-right: 0;
}

.back-button {
  margin-left: 20px;

  button {
    height: 40px;
    width: 70px;
    border-radius: 4px;
    background-color: #ff6c61;
    border: #ff6c61;
    color: white;
  }
}
