@import '../../scss/ui';

.reviews-card {
    display: flex;
    width: 340px;
    height: 100%;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}
.reviews-card img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
}
.reviews-text {
    margin-left: 10px;
}
.reviews-text > .title {
    color: #FF6C61;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}
.reviews-text > .body {
    color: #454D66;
    font-family: Lato;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    width: 245px;
    text-align: justify;
}



